{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "node": "current",
          },
        },
      ],
    ],
    "plugins": ["@babel/plugin-syntax-jsx", "./src/index.js"],
}